<template name="register">
  <form>
    <div class="form-group">
      <label for="registerEmail">Email address</label>
      <input type="email" name="registerEmail" placeholder="Email" class="form-control">
    </div>
    <div class="form-group">
      <label for="registerPassword">Password</label>
      <input type="password" name="registerPassword" placeholder="Password" class="form-control">
    </div>
    <div class="form-group">
      <input type="submit" class="form-control" value="Register">
    </div>
  </form>
</template>
