<template name="powerup">
  <div class="row">
    <div class="col-md-3">
      <img class="atest gray" src="assets/boomer-pixilart.gif" id="boomer" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/congress.png" id="congress" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/Cocaine.gif" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/Coffee.gif" alt="IDK">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img class="atest gray" src="assets/Energy.gif" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/new-lobby-pixilart.gif" id="lobbyist" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/new-power-up-(2x-money)-pixilart.gif" id="clickMultiplier" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/Keyboard.gif" alt="IDK">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img class="atest gray" src="assets/Preformance-Drugs.gif" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/stock-investments.gif" id="lobbyist" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/" id="clickMultiplier" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/" alt="IDK">
    </div>
  </div>
</template>
