<template name="powerup">
  <div class="row">
    <div class="col-md-3">
      <img class="atest gray" src="assets/Intern.gif" id="intern" alt="IDK" onclick="activatePower('intern');">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/congress.png" id="congress" alt="IDK" onclick="activatePower('congress');">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/Cocaine.gif" id="coke" alt="IDK" onclick="activatePower('coke');">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/Coffee.gif" id="coffee" alt="IDK" onclick="activatePower('coffee');">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">
      <img class="atest gray" src="assets/Energy.gif" id="energy" alt="IDK" onclick="activatePower('energy');">
    </div>
    <div class="col-md-3 ">
      <img class="atest gray" src="assets/new-lobby-pixilart.gif" id="lobbyist" alt="IDK" onclick="activatePower('lobbyist');">
    </div>
    <div class="col-md-3 ">
      <img class="atest gray" src="assets/new-power-up-(2x-money)-pixilart.gif" id="clickMultiplier" alt="IDK" onclick="activatePower('clickMultiplier');">
    </div>
    <div class="col-md-3 ">
      <img class="atest gray" src="assets/Keyboard.gif" id="keyboard" alt="IDK" onclick="activatePower('keyboard');">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 ">
      <img class="atest gray" src="assets/Preformance-Drugs.gif" id="perform" alt="IDK" onclick="activatePower('perform');">
    </div>
    <div class="col-md-3 ">
      <img class="atest gray" src="assets/stock-investments.gif" id="stocks" alt="IDK" onclick="activatePower('stocks');">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/" alt="">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/" alt="">
    </div>
  </div>
</template>
