<template name="powerup">
  <div class="row">
    <div class="col-md-3">
      <img class="atest gray" src="assets/boomer-pixilart.gif" id="boomer" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/congress.png" id="congress" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/Death.gif" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/demote-pixilart.gif" alt="IDK">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img class="atest gray" src="assets/Jail.png" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/lobbyist-pixilart.gif" id="lobbyist" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/new-power-up-(2x-money)-pixilart.gif" id="clickMultiplier" alt="IDK">
    </div>
    <div class="col-md-3">
      <img class="atest gray" src="assets/logo-pixilart.png" alt="IDK">
    </div>
  </div>
</template>
