<template name="clock">
  <div class="cash">
    <h1 id="cash">Cash: $0</h1>
  </div>
  <div class="clock simple mcenter" onclick="clickClock();">
    <div class="hours-container">
      <div class="hours"></div>
    </div>
    <div class="minutes-container">
      <div class="minutes"></div>
    </div>
    <div class="seconds-container">
      <div class="seconds"></div>
    </div>
  </div>
  <div class="cashflow">
    <h2 id="cashflow">Cashflow: $1/min</h2>
  </div>
  <script type="text/javascript">
  (function(){
    var date;
    var seconds;
    var minutes;
    var hours;
    var cash;
    var multiplier;

    initLocalClocks();
    moveSecondHands();
    setUpMinuteHands();
  })();

  var date;
  var seconds;
  var minutes;
  var hours;
  var cash;
  var multiplier;

  function initLocalClocks() {
    // Get the local time using JS
    date = new Date;
    seconds = date.getSeconds();
    minutes = date.getMinutes();
    hours = date.getHours();

    // Create an object with each hand and it's angle in degrees
    var hands = [
      {
        hand: 'hours',
        angle: (hours * 30)
      },
      {
        hand: 'minutes',
        angle: (minutes * 6)
      },
      {
        hand: 'seconds',
        angle: (seconds * 6)
      }
    ];
    // Loop through each of these hands to set their angle
    for (var j = 0; j < hands.length; j++) {
      var elements = document.querySelectorAll('.' + hands[j].hand);
      for (var k = 0; k < elements.length; k++) {
        elements[k].style.webkitTransform = 'rotateZ('+ hands[j].angle +'deg)';
        elements[k].style.transform = 'rotateZ('+ hands[j].angle +'deg)';
        // If this is a minute hand, note the seconds position (to calculate minute position later)
        if (hands[j].hand === 'minutes') {
          elements[k].parentNode.setAttribute('data-second-angle', hands[j + 1].angle);
        }
      }
    }
  }

  function setUpMinuteHands() {
    // Find out how far into the minute we are
    multiplier = 1;
    document.getElementById("playergif").src = "assets/Promotion-2.gif";
    var containers = document.querySelectorAll('.minutes-container');
    var secondAngle = containers[0].getAttribute("data-second-angle");
    if (secondAngle > 0) {
      // Set a timeout until the end of the current minute, to move the hand
      var delay = (((360 - secondAngle) / 6) + 0.1) * 1000;
      setTimeout(function() {
        moveMinuteHands(containers);
      }, delay);
    }
  }

  function moveMinuteHands(containers) {
    clickClock();
    // Then continue with a 60 second interval
    setInterval(function() {
      clickClock();
    }, 60000);
  }

  function moveSecondHands() {
    var containers = document.querySelectorAll('.seconds-container');
    setInterval(function() {
      for (var i = 0; i < containers.length; i++) {
        if (containers[i].angle === undefined) {
          containers[i].angle = 6;
        } else {
          containers[i].angle += 6;
        }
        containers[i].style.webkitTransform = 'rotateZ('+ containers[i].angle +'deg)';
        containers[i].style.transform = 'rotateZ('+ containers[i].angle +'deg)';
      }
    }, 1000);
  }

  function clickClock() {
    var containers = document.querySelectorAll('.minutes-container');
    for (var i = 0; i < containers.length; i++) {
      if (containers[i].angle === undefined) {
        containers[i].angle = 6;
      } else {
        containers[i].angle += 6;
      }
      containers[i].style.webkitTransform = 'rotateZ('+ containers[i].angle +'deg)';
      containers[i].style.transform = 'rotateZ('+ containers[i].angle +'deg)';
    }

    minutes += multiplier;
    updatePlayermodel(minutes);
    document.getElementById("cash").innerHTML = "Cash: $" + minutes;
    document.getElementById("cashflow").innerHTML = "Cashflow: $" + multiplier + "/min";

    var containers2 = document.querySelectorAll('.hours-container');
    for (var i = 0; i < containers2.length; i++) {
      if (containers2[i].angle === undefined) {
        containers2[i].angle = 30;
      } else if (minutes % 60 === 0) {
        containers2[i].angle += 30;
      }
      containers2[i].style.webkitTransform = 'rotateZ('+ containers2[i].angle +'deg)';
      containers2[i].style.transform = 'rotateZ('+ containers2[i].angle +'deg)';
    }
  }

  var lastplayermodel = "assets/Promotion-2.gif";

  function updatePlayermodel(money){
    var newplayermodel = "assets/Promotion-2.gif";
    if (money >= 100) { newplayermodel = "assets/Promotion-1.gif"; }
    if (money >= 1000) { newplayermodel = "assets/Promotion0.gif"; }
    if (money >= 10000) { newplayermodel = "assets/Promotion1.gif"; }
    if (money >= 100000) { newplayermodel = "assets/Promotion2.gif"; }
    if (money >= 1000000) { newplayermodel = "assets/Promotion3.gif"; }
    if (money >= 10000000) { newplayermodel = "assets/Promotion4.gif"; }

    if (lastplayermodel !== newplayermodel) {
      lastplayermodel = newplayermodel;
      document.getElementById("playergif").src = newplayermodel;
    }
  }
  </script>
</template>
